html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Mulish"; 
    display: flex;
    flex-direction: column; 
}

header {
    background-color: #101419;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
}

nav a {
    color: #EDD3C4;
    margin: 0 15px;
    height: 100%;
}

main {
    flex: 1; 
    background-color: #EDD3C4; 
}

.task {
    padding: 20px;
}

.result {
    margin-top: 10px;
    color: #101419;
}

footer {
    background-color: #101419;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
}

button {
    width: 200px; 
    height: 30px; 
    color: #60AB9A;
}

input {
    width: 300px; 
    height: 30px;
}

h2 {
    color: #EDD3C4; 
    font-size: 160%;
}

h3 {
    color: #101419; 
    font-size: 160%;
}

p {
    color: #EDD3C4;
}
